<!DOCTYPE html>
<html>

<head>
    <title>Add User</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Segoe+UI&display=swap">
</head>

<body>
    <div class="form-container">
        <h2>Add New User</h2>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flash-message">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}

        <form method="POST">
            <label for="name">Name:</label>
            <input type="text" name="name" required>

            <label for="phone">Phone Number:</label>
            <input type="text" name="phone" required>

            <button type="submit">Capture & Save</button>
        </form>
        <br>
        <a class="view-link" href="{{ url_for('users') }}">View All Users</a>
    </div>
</body>

</html>